
				<nav class="navbar" role="navigation">
					<div class="clearfix">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div id="navigation" class="collapse navbar-collapse">
						<ul id="block-0" class="nav navbar-nav">
							<li><a class="icon-home" href="index.html"><img id="iconhome" src="images/icon-home.png"></a></li>
							<li class="menu-56   dropdown"><a target="_self" href="shirt.html" title="Áo Thời Trang">Áo Thời Trang</a><span></span></li>
							<li class="menu-57   dropdown"><a target="_self" href="quan.html" title="Quần">Quần</a><span></span></li>
							<li class="menu-58   dropdown"><a target="_self" href="vay.html" title="Váy Đẹp">Váy / Đầm</a><span></span></li>
							<li class="menu-59   dropdown"><a target="_self" href="giay.html" title="Giày">Giày</a><span></span></li>
							<li class="menu-60   dropdown"><a target="_self" href="" title="Bộ Sưu Tập">Bộ Sưu Tập</a><span></span></li>
							<li class="menu-61   dropdown"><a target="_self" href="" title="Liên Hệ">Liên Hệ</a><span></span></li>
							
						</ul>     
					</div>
				</nav>
